@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Outfit", sans-serif;
}

html {
  scroll-padding-top: 128px;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  background: #cacaca;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  width: 100vw;
  height: 128px;
}

nav {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
}

a {
  color: #000000;
  text-decoration: none;
}

section {
  margin: 0 auto;
  padding: 10% 30px;
  min-height: 100vh;
  max-width: 1000px;
}

article {
  margin-bottom: 200px;
}

article img {
  object-fit: cover;
  width: 100%;
}

section h1 {
  font-size: 3rem;
}

section h2 {
  font-size: 2rem;
}

section p {
  font-size: 1.2rem;
}

#inicio {
  background: #ababab;
}

#productos {
  background: #eaeaea;
}

#nosotros {
  background: #aeaeae;
}

#contacto {
  background: #606060;
  color: white;
}

.links {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  min-width: 500px;
}

a.current {
  color: red;
}

.menu {
  display: none;
}

article {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
}

article.reverse {
  flex-direction: row-reverse;
}

article p {
  max-width: 60%;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid black;
  border-radius: 4px;
  background: #eeeeee;
  padding: 10px;
  margin: 10px;
}

textarea {
  max-width: 100%;
  resize: vertical;
}

#back-to-top {
  position: fixed;
  font-size: 3rem;
  bottom: 1.5rem;
  right: 1.5rem;
  background: #202020;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
}

#back-to-top a {
  color: white;
  height: 100%;
  width: 100%;
  display: block;
}

@media screen and (max-width: 800px) {
  .links {
    left: -200%;
    position: fixed;
    width: 100%;
    top: 128px;
    background: #cacaca;
    font-size: 2.5rem;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .links.active {
    left: 0;
  }

  .links li {
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 4px;
  }

  .link a {
    width: 100%;
    display: block;
  }

  .menu {
    display: block;
    margin-right: 2rem;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }

  .menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  article {
    flex-direction: column;
  }

  article.reverse {
    flex-direction: column;
  }

  article p {
    max-width: 100%;
  }
}
